/* html,body{
  margin:0;
  width:100%;
  height:100%;
} */
:root {
  --keyboard: hsl(300, 100%, 16%);
  --keyboard-shadow: hsla(19, 50%, 66%, 0.2);
  --keyboard-border: hsl(20, 91%, 5%);
  --black-10: hsla(0, 0%, 0%, 0.1);
  --black-20: hsla(0, 0%, 0%, 0.2);
  --black-30: hsla(0, 0%, 0%, 0.3);
  --black-50: hsla(0, 0%, 0%, 0.5);
  --black-60: hsla(0, 0%, 0%, 0.8);
  --white-20: hsla(0, 0%, 100%, 0.2);
  --white-50: hsla(0, 0%, 100%, 0.5);
  --white-80: hsla(0, 0%, 100%, 0.8);
}
#loadingScreen, #root, html {
  width: 100vw;
  max-width: 100vw;
  height: 100vh;
  max-height: 100vh;
  overflow: hidden;
  /* background-color: rgba(0,0,0,0.9); */
}

#myFile {
  position: absolute;
  top: 12px;
  left: 12px;
  z-index: 5;
  width: 96px;
  height : 48px;
}

#scene-explorer-host {
  z-index: 10;
  height: 100vh;
  position: absolute! important;
  left: 0;
}

#inspector-host {
  height: 100vh;
  right: 0;
}

body{
  /* display:flex; */
  flex-direction:column;
}

.App {
  text-align: center;
}

#vizParentWrapper {
  /* width: 26rem; */
  width: 100%;
  height: calc(100% - 13.5rem); 
}

#fileManagerWrapper {
  width: calc(100vw - 26rem);
  height: 12vh;
}

#sequencerWrapperOuter {
  display: inline-table;
  position: absolute;
  height: 10vh;
  right: 0rem;
  /* width: 90vw; */
  flex-direction: row;
  justify-content: center;
  /* background: var(--black-60); */
  top: 45vh;
  z-index: 20;
  max-height: 50vh;
  overflow: scroll;
  width: 100%;
  /* padding: 1rem; */
}

#vizWrapper {
  /* width: 26rem; */
  top:0;
  right: 0;
  height: calc(100% - 13.5rem); 
  border: 1px solid yellow; 
  position: relative;
}

#sampleToolsWrapper {
  /* width: calc(100vw - 28rem); */
  width: 100%;
  height: 25vh;
  top: 12vh;
  /* padding: 1rem; */
  overflow: scroll;
}

#sequenceToolsWrapper {
  /* width: calc(100vw - 28rem); */
  width: 100%;
  height: 25vh;
  top: 12vh;
  /* padding: 1rem; */
  overflow: scroll;
}

#treeBuilderWrapper {
  display: "flex";
  flex-direction: "row";
  position: relative;
  padding: 0;
  margin: 0;
  width: 7rem;
}

#keyboard {
  border-radius: 24px;
  overflow: scroll;
  position: relative;
  max-height: 13.5rem;
  width: 26rem;
  margin-top: 0rem;
  /* bottom: -14px;
  right: -22px; */
}

#demo-controlled-radio-buttons-group {
  overflow: scroll;
}

#instrumentBuilderWrapper {
  /* flex-direction: ROW; */
  display: flex;
  justify-content: LEFT;
  overflow-y: scroll;
  position: absolute;
  height: 20vh;
  max-height: 20rem;
  /* width: calc(100vw - 28rem); */
  width: 100%;
  border: solid 1px blue;
  text-align: center;
  right: 20vw;
  top: 60vh;
  flex-direction: row;
  /* padding-top: 24px;
  padding-left: 24px; */
  /* padding: 1rem; */
  BACKGROUND: TRANSPARENT;
  overflow: scroll;
  position: relative;
}

#synthControlsWrapper {
  flex-direction: row;
  justify-content: center;
  align-items: center;
  /* height: 28vh; */
  /* top: 10vh !important; */
  position: absolute;
  background: transparent;
  /* position: absolute; */
  left: 0;
  bottom: 0;
  /* width: calc(100vw - 26rem); */
  width: 100%;
  text-align: center;
  /* background: var(--black-60); */
  overflow: scroll;
  /* padding-left: 6rem;
  padding-right: 6rem; */
}

#instrumentBuilder {
  display: flex;
  flex-direction: column;
}

.instrumentCheckboxWrapper {
  display: flex;
  flex-direction: row;
  justify-content: center; 
  align-items: center;
  left: 10%;
  top: 10%;
  height: 80%;
  width: 80%;
}


.instrument-group-wrapper {
  display: flex;
  flex-direction: row;
  align-items: left;
  padding: 8px; 
  width: 100%;
}

.instrument-radio-selector {
  min-width: 33%;
}

#inputFileWrapper {
  flex-direction: column;
}

@media screen and (min-width: 1200px) {
  #keyboard {
    width: 52rem;
  }
  #inputFileWrapper {
    flex-direction: column;
  }
  /* #fileManagerWrapper {
    width: calc(100vw - 52rem);
  }
  #vizWrapper {
    width: 52rem;
  }
  #vizParentWrapper {
    width: 52rem;
  }
  #sequencerWrapperOuter {
    width: calc(100vw - 54rem);
  }
  #instrumentBuilderWrapper {
    width: calc(100vw - 54rem);
    overflow: scroll;
  }
  #synthControlsWrapper {
    width: calc(100vw - 54rem);
    overflow: scroll;
  }
  #sampleToolsWrapper {
    width: calc(100vw - 54rem);
  }
  #sequenceToolsWrapper {
    width: calc(100vw - 54rem);
    /* flex-direction: column !important; */
  /* } */
}

#keyboard li:first-child {
  border-radius: 5px 0 5px 5px;
}

#keyboard li:last-child {
  border-radius: 0 5px 5px 5px;
}
/* 
.App-logo {
  height: 40vmin;
  pointer-events: none;
} */

/* #babylonWrapper {
  height: 100vh;
  min-height: 100vh;
} */



canvas {
  flex: 1 1 auto;
  background-color: var(--black-60);
}

#gameCanvas {
  flex: 1 1 auto;
  background-color:orange;
  height: 100vh;
  width: 100vw;
}

#sampleDropdowns {
  display: flex;
  flex-direction: row;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.white,
.black {
  position: relative;
  float: left;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  padding: 0.5rem 0;
  user-select: none;
  cursor: pointer;
}

.white {
  height: 12.5rem;
  width: 3.5rem;
  z-index: 1;
  border-left: 1px solid hsl(0, 0%, 73%);
  border-bottom: 1px solid hsl(0, 0%, 73%);
  border-radius: 0 0 5px 5px;
  box-shadow: -1px 0 0 var(--white-80) inset, 0 0 5px hsl(0, 0%, 80%) inset,
    0 0 3px var(--black-20);
  /* background: linear-gradient(to bottom, grey 0%, black 100%); */
  background: linear-gradient(to bottom, rgba(0,0,0,.7), black 100%);
  color: white;
  margin-left: -1rem;
  font-family: monospace;
}

#startMicrophoneButton {
  min-width: 12rem;
}

#inputFileWrapper {
  display: flex;
  flex-direction: row;
}

@media screen and (max-width: 800px) {
  #inputFileWrapper {
    flex-direction: column;
  }
  #treeBuilderWrapper {
    flex-direction: "column";
  }
  /* #instrumentBuilderWrapper {
    top: 49vh;
    height: 16vh;
  } */
  #synthControlsWrapper {
    top: 70vh;
    height: 30vh;
  }
  .instrument-group-wrapper {
    flex-direction: column;
  }
  #sampleToolsWrapper, #sequenceToolsWrapper { 
    top: 18vh !important;
    flex-direction: row;
  }
  #sampleDropdowns {
    display: flex;
    flex-direction: column;
  }
  /* #sampleToolsWrapper {
    flex-direction: column;
  } */
}

.half {
  margin-right: 1.1rem; 
  border-radius: 0 0 3px 3px;
}

.black {
  height: 8rem;
  width: 2rem;
  margin: 0 0 0 -1rem;
  z-index: 2;
  border: 1px solid black;
  border-radius: 0 0 3px 3px;
  /* box-shadow: -1px -1px 2px var(--white-20) inset,
    0 -5px 2px 3px var(--black-60) inset, 0 2px 4px var(--black-50);
  background: linear-gradient(45deg, hsl(0, 0%, 13%) 0%, hsl(0, 0%, 33%) 100%); */
  background: linear-gradient(45deg, rgba(20,80,160,1) 0%, hsl(0, 0%, 23%) 2%);
  color: white;
  font-family: monospace;
}

ul {
  /* display: inline-flex; */
  border-radius: 24px;
  overflow: scroll;
  position: absolute;
}

#vizControls {
  position: absolute; 
  top: 0;
  right: 0;
  overflow: scroll;
  display: none;
  z-index: 30;
}

#inputFileWrapper {
  display: flex;
  float: center;
  left: 0;
  /* justify-content: center; */
}

/* #keyboardControlsWrapper {
  color: violet;
  max-width: 100vw;
  width: 100vw;
  display: flex;
  justify-content: right;
} */

.MuiPopover-root {
  max-height: 50vh;
}

.MuiList-root, .MuiPaper-root {
  display: flex !important;
  flex-direction: column !important;
  position: fixed;
  height: 100vh;
  display: flex;
  /* left: 0; */
  right: 0;
  top: 0;
  /* background: var(--black-60); */
  /* background: var(--black-20) !important; */
}

.MuiPaper-root {
  color: var(--white-80) !important;
  background: var(--black-60) !important; 
}

.MuiFormLabel-root {
  color: var(--black-50) !important;
  padding-right: 3rem; 
}

/* .MuiBox-root {
  z-index: 20;
} */

#introClickBox {
  height: 100vh;
  width: 100vw;
  background: var(--black-20)
}

#sequencerWrapperInner {
  justify-content: center; 
  color: white; 
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.sequencer-dropdown {
  /* min-width: 80px; */
  min-width: 25%;
}

#submitMingus {
  height: 44px;
  position: relative; 
  z-index: 22;
}

.invisible {
  visibility: hidden;
}

.startButton > * {
  font-size: 6rem;
  /* font-family: '' */
}

#audioKey-simple-select-label #octave-simple-select-label #audioScale-simple-select-label #chord-simple-select-label{
  position: absolute;
  z-index: 15;
}

.sequencerWrapper {
  display: inline-flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 40vh;
  left: 0;
  /* position: absolute; */
  background: rgba(0,0,0,0.4);
  
}

.li-to-drag {
  height: 80px;
  min-width: 1vw;
  padding: 1vw;
  font-size: 12px;
  background: rgba(0,0,0,0.4);
  padding: 0px;
  margin: 8px;
  border: solid 0.5px white;
  border-radius: 4px;
  margin: 4vw;
  color: white;
}
.li-to-drag-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 80px;
  min-width: 1vw;
  padding: 1vw;
  font-size: 12px;
  background: rgba(0,0,0,0.4);
  padding: 0px;
  margin: 8px;
  border: solid 0.5px white;
  border-radius: 4px;
  margin: 4vw;
  color: white;
}

.MuiRadio-root {
  color: var(--white-80) !important;
}

/* .MuiButtonBase-root {
  color: var(--white-80) !important;
} */

.MuiInputLabel-root {
  color: #f6f6f6 !important;
}

.MuiTypography-root {
  font-size: 12px !important;
  color: #f6f6f6;
}

.MuiFormControl-root {
  position: relative;
  color:#ffffff;
}

.midSizeButtons {
  background: rgba(0,0,0,0.91);
  min-height: 2rem;
  width: 4rem;
  color: #ffffff;
  padding: 0.1rem;
  width: 12rem;
}

.inputSampleInfo {
  max-height: 2rem;
}

.introListLetter {
  padding: 0; 
  display: flex;
  flex-direction: column !important;
}

.MuiMenu-paper {
  width: 13rem !important;
  right: 2rem !important;
}

.MuiListItemButton-root {
  max-height: 3rem;
}

.MuiPaper-root-MuiPopover-paper {
  background: var(--black-60) !important;
  left: 0 !important;
}

.selected {
  border: solid 1px white !important;
}

.litAscending {
  background: linear-gradient(45deg, rgba(120,120,120,1) 0%, rgba(120,120,180,1) 40%);
  background-color: linear-gradient(45deg, rgba(120,120,120,1) 0%, rgba(120,120,180,1) 40%);
}

.litDescending {
  background: linear-gradient(45deg, rgba(70,120,120,1) 0%, rgba(70,120,180,1) 40%);
  background-color: linear-gradient(45deg, rgba(70,120,120,1) 0%, rgba(70,120,180,1) 40%);
}